<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Develotter</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="main.js"></script>
  <link rel="stylesheet" href="style1.css">
</head>
<body>
  <header id="header">　
    <div class="boxA">
      <div class="logo">
        <a href="index.html"><img src="img/icon.png" alt="page_logo"></a>
        <a href="index.html"><img src="img/logo3.png" alt="page_logo"></a>
      </div>
      <nav>
        <ul class="global-nav">
          <li><a class="a1" href="index.html">ページ概要</a></li>
          <li><a class="a1" href="index.html">投稿する</a></li>
          <li><a class="a1" href="index.html">ねる</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="wrap">
  <div class="content">
  <div id="parent">
    <div id="child1">
      <h1 id="home-cr" class="home solid2">ホーム</h1>
      <div id="home" class="long">
        <h1>なんだいな</h1>
      </div>
    </div>
    <div id="child2">
      <h1 class="solid1">進捗を報告しよう</h1>
      <div class="long">
        <h2 style="margin-left:100px;">まずはアカウントを作成しよう！</h2>
        <section id="section1">
          <a href="signup.html" class="btn_09"><span><span>ここから</span>登録！</span></a>
        </section>
      </div>
    </div>
  </div>
  </div>
  </div>
  <footer>
    <nav>
      <ul class="footer-nav">
        <li><a href="rule.html">利用規約</a></li>
        <li><a href="policy.html">プライバシーポリシー</a></li>
      </ul>
    </nav>
    <small class="copy">(C)鉄工所たむ</small>

  </footer>
</body>
</html>
