@import "bootstrap-sprockets";
@import "bootstrap";

placeholder{
  color: #5E5E5E;
}
body{
  margin:0;
  background-color: #FFFFFF;
  min-width: 1500px;
}
p,h1,h2,h3,h4,h5,h6{
  margin-top:0;
}
#header{
  background-color: #C7D5ED;
  position: fixed;
  top:0;
  width: 100%;
  min-width: 1000px;
  z-index: 90;
}
ul{
  margin:0;
  padding: 0;

}
.a1{
  color: #3583aa;
  text-decoration: none;
}
.a1:visited{
  color:#3583aa;
}
.a1:hover{
  text-decoration: underline;
}
footer{
  text-align: center;
  display: flex;
  color:#FFFFFF;
  padding: 20px 0;
  background-color: #5E5E5E;
}
.boxA{
  width: auto;
  display: flex;
}
.logo{
  display:flex;
  float:left;
  margin-left: 70px;
  margin-top: 0px;
}
.global-nav{
  float:right;
  margin-top: 40px;
  display: flex;
  position: relative;
}
.global-nav li{
  float:left;
  margin:0 20px;
  font-size: 20px;
  list-style:none;
}
.global-nav a{
  display: block;
}
ul.global-nav ul{
  top:30px;
  margin: 0px;         /* ★2:サブメニュー外側の余白(ゼロ) */
  padding: 0px;        /* ★3:サブメニュー内側の余白(ゼロ) */
  position: absolute;
  display: none;
}
ul.global-nav ul.nav2 li{

  padding: 5px 20%;
  margin: 0;
}

ul.global-nav li:hover ul.nav2{
   display: block;      /* ★5:マウスポインタが載っている項目の内部にあるリストを表示する */
   background-color: #000000;
   position: absolute;
   z-index: 100;
}

.downlist{
  color: #FFFFFF;
  font-size: 2vmin;
  text-decoration: none;
}
.downlist:hover{
  text-decoration: underline 4px;
}
.content{

  margin:0 auto;
  }
.home{
  padding-left: 0;
  position: fixed;
  width: 60%;
  background-color: #FFFFFF;
  z-index: 0;
}
.solid1{
  border-bottom: solid 4px #b20000;
}
.solid2{
  border-bottom: solid 4px #00B0F0;
}
.long{
  height: 5000px;
}
.cnb{
  margin-left: 20px;
}
.m-top{
  margin-top: 10px;
}
.cnb-cont{
  resize:none;
  font-size: 20px;
  border-radius: 0.47em;
  border: 2px solid #5E5E5E;
}
.cnb-cont:focus{
  outline:none;
  border: 3px solid #000000;
}
.footer_rule{
  color:#FFFFFF;
}
.footer-nav{
  margin-top: 5px;
  display: flex;
}
.footer-nav li{
  float:right;
  margin:0 20px;
  font-size: 20px;
  list-style:none;
  color: #FFFFFF;
}
.footer-nav a{
  color:#FFFFFF;
}
.copy{
  margin-top: 10px;
  margin-left: auto;
  margin-right:auto;
}

#child1 {
    background-color: #FFFFFF;
    left:0;
  }
#child2 {
    background-color: #FFFFFF;
    border-left-style: solid;
    position: fixed;
    right: 0;
    width: 40%;
    min-width: 270px;
  }

@media (min-width: 0px) {
  #parent {
      display: flex;
    }
  #child1 {
      flex-grow: 4;
    }
  #child2 {
      flex-grow: 1;
    }
}
/* ↓下記ウィンドウ幅以下のサイズの場合は消える */

#wrap{
  clear:both;
}
#section1 {
max-width: 300px;
margin: 60px auto;
}
a.btn_09 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #795548;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 100px;
  padding: 20px 20px 20px 75px;
  background-color: #ffffff;
  border: 5px solid #FFC107;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  transition-duration: 0.3s;
}
a.btn_09::before {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -30px;
  background-image: url("img/icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}
a.btn_09 span {
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
}
a.btn_09 span span {
  display: block;
  font-size: 16px;
  margin-bottom: 7px;
}
a.btn_09:hover {
  color: #ffffff;
  background-color: #FFC107;
}

.cp_iptxt {
  width: 80%;
  margin: 30px 3%;
}
.cp_iptxt input[type='text'] {
  font: 20px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #000000;
  border: none;
  border-bottom: 4px solid #67c5ff;
  background: transparent;
}
.input_title input[type='text']:focus {
  border-bottom: 4px solid #da3c41;
  border-color: #67c5ff;
  outline: none;
}
.btn-send {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #67c5ff;
  background: #FFFFFF;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-send:hover {
  background: #67c5ff;
  color: white;
}

.signup{
  text-align: center;
}

.posted-user{
  padding-left: 5px;
  font-size: 20px;
  font-weight: 600;
}
.posted-title{
  margin-left: 50px;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 2px solid #67c5ff;
}
.posted-cont{
  float: right;
  border: 2px solid;
  border-radius: 0.47em;
  resize:none;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 10px;
}
.posted-cont:focus{
  outline: none;

}

.posted-cont::placeholder{
  color:#000000;
}
.conts{
  display: flex;
}
.cont-img{
  margin-left: 10px;
  width: 30%;
}
.user-img{
  display: flex;
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width:  30px;       /* ※縦横を同値に */
  height: 30px;
  border: 2px solid #FFC107;
}
.user-cont{
  display: flex;
  margin-left: 50px;
}
.posted-place{
  padding-top: 10px;
  border-bottom: 5px double #AAAAAA;
  padding-bottom: 5px;
  border-width: 100%;
}

/* mixins, variables, etc. */



/* forms */
