<!--
<footer class="footer">
  
  <nav>
    <ul>
      <li><%= link_to "利用規約",   terms_of_service_path %></li>
      <li><%= link_to "プライバシーポリシー", privacy_policy_path %></li>
    </ul>
  </nav>
</footer>
-->
<footer>
    <nav>
      <ul class="footer-nav">
        <li><%= link_to "利用規約",   terms_of_service_path %></li>
        <li><%= link_to "プライバシーポリシー", privacy_policy_path %></li>
      </ul>
    </nav>
    <small class="copy">(C)鉄工所たむ</small>

</footer>