<header id="header">　
    <div class="boxA">
      <div class="logo">
        <a href="index.html"><img src="img/icon.png" alt="page_logo"></a>
        <a href="index.html"><img src="img/logo3.png" alt="page_logo"></a>
      </div>
      <nav>
        <ul class="global-nav">
          <li><a class="a1" href="index.html">ページ概要</a></li>
          <li><a class="a1" href="index.html">投稿する</a></li>
          <li><a class="a1" href="index.html">ねる</a></li>
          <li><a class="a1" href="index.html">ねる</a></li>
        </ul>
      </nav>
    </div>
  </header>